.card-header-emboss {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  border-radius: 1.6% / 50%;
}

.card-header-content {
  /* border: 1px solid yellow; */
  border-radius: 0.8% / 50%;
  height: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-header-green {
  background: linear-gradient(2deg, rgb(22, 40, 23), green);
}
.card-header-blue {
  background-color: rgb(225, 235, 243);
}

.card-header-colorless {
  background-color: rgb(200, 200, 200);
}
